*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #FFFFFF;
    display: flex;
  }
  .frame1{
    background-color: #21373F;
    margin: 0px 0px 0px 104px;
    height: 100%;
    width: 290px;
    color: #FFFFFF;
  }
  /*ellipse class*/
.ellipse{
  text-align: center;
  color: #D3D3D3;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.ellipse img{
  margin: 43px 73px 7.67px;
}
.ellipse p{
  padding: 3px;
}
/*info class*/
.info{
  background-color: #21373F;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-left: 26px;
  padding-top: 153.49px;
  text-align: justify;
  margin: auto;

}
.info p{
   padding-bottom: 15px;
}
.third_sect{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-left: 26px;
  padding-top: 245px;
}
.third_sect p{
  padding-bottom: 15px;
}