*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}
/* HEADER */

.header-section {
    width: 100%;
    height: 80px;
    background: #E0EDF2;
    padding: 1.7% 7%;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    list-style: none;
}

.navbar__brand--logo {
    margin-top: -1%;
    align-items: center;
}

.brand--logo {
    width: 171px;
    height: 52px;
}

.navbar__brand--middle {
    margin-top: -1%;
}

.nav-btn {
    text-decoration: none;
    line-height: 20px;
    font-size: 16px;
    transition: .5s;
    color: #222222;
    font-family: 'Montserrat';
    margin-left: 10px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #E0EDF2;
}

.dropdown {
    background-color: #FFFFFF;
    width: 50%;
    position: absolute;
    top: 60px;
    display: none;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1 {
    background-color: #FFFFFF;
    position: absolute;
    top: 60px;
    width: 27%;
    display: none;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar__brand--list:hover .dropdown,
.navbar__brand--list:hover .dropdown1 {
    display: block;
}

.dropdown-list {
    padding: 4%;  
    display: block;
}

.drop-content {
    display: flex;
    justify-content: space-between;
}

.first-content {
    padding-right: 8%;
    padding-left: 2%;
}

.second-content {
    padding-right: 15%;
    padding-left: 2%;
}

.content {
    padding-left: 2%;
}

.content-heading {
    padding-top: 10px;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: 500;
    line-height: 20px;
}

.content-para {
    font-size: 15px;
    padding-bottom: 14px;
    line-height: 20px;
}

.content-link {
    text-decoration: none; 
    color: #222222;
}

.content-link:hover {
    color: #64A6BD;
}

.hoz-line {
    border: 0.5px solid #64A6BD;
    margin-top: 2%;
}

.hoz-line1 {
    border: 0.5px solid #64A6BD;
    margin-top: 2%;
    width: 45%;
}

.navbar__brand--item {
    display: flex;
}

.navbar__brand--list {
    margin-left: 40px;
}

.navbar__brand--link1 {
    text-decoration: none;
    line-height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat';
}

.navbar__brand--link {
    text-decoration: none;
    line-height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    font-family: 'Montserrat';
}

.brand--button {
    background: #64A6BD;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-top: -25%;

}

.vector {
    margin-left: 5px; 
    margin-bottom: 2px;
}

/* .show {
    display: block;
} */

/* section:introduction */
.introduction {
    margin: 12.5% 20%;
    text-align: center;
    color: #222222;
}

.intro-heading {
    font-weight: 550;
    font-size: 36px;
    line-height: 44px;
    color: #64A6BD;
}

.brand--intro-button {
    background: #64A6BD;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 15px 60px;
    font-weight: 650;
    line-height: 20px;
}

.intro-paragraph {
    margin-top: 2%;
    font-style: italic;
    font-weight: 420;
    font-size: 18px;
    line-height: 62px;
}

/* POST PAGE BODY */
.hero, .post-grid{
    width: 86%;
    margin: 0px auto;
}
.hero{
    padding-top: 72px;
}
.postflex{
    display: flex;
    font-weight: 700;
    color: #222222;
    margin-bottom: 72px;
}
.postflex h2{
    line-height: 60px;
    font-size: 40px;
    margin-bottom: 44px;
    letter-spacing: 0.01em;
}
.post-btn{
    width: 302px;
    height: 80px;
    background-color: #64a6bd;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
    border: none;
    outline: none;
}
.post-main{
    width: 36%;
}
.post-main2{
    width: 64%;
}
.post-main2 img{
    width: 100%;
}

.post-grid{
    column-gap: 24px;
    row-gap: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 159px;
}
.post-grid img{
    width: 100%;
    margin-bottom: 16px;
}
.notification{
    font-size: 14px;
    line-height: 21px;
    color: #64a6bd;
    margin-bottom: 16px;
}
a:link{
    text-decoration: none;
}
.topic{
    color: #222222;
    font-size: 16px;
}
