* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #FFFFFF;
}

.img {
    width: 250px;
}

.error-content {
    margin: 5% auto;
    text-align: center;
}

.error-text {
    padding: 2%;
    margin-top: 4%;
}

.error-text--heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    color: #222222;
    padding-bottom: 25px;
    margin-top: -5%;
}

.error-text--para {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #222222;
    padding-bottom: 37px;
}

.error-button {
    background: #64A6BD;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 465.16px;
    height: 67.76px;
}

.error-link {
    text-decoration: none;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 17px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    * {
        overflow: hidden;
    }
    .img {
        width: 170px;
    }
    .error-text--heading {
        margin-top: 2%;
        font-size: 22px;
    }
    .error-text--para {
        font-size: 14px;
    }
    .error-button  {
        width: 300px;
        height: 52px;
    }
    .error-link {
        font-size: 18px;
        font-weight: 600;
    }
}

@media (max-width: 400px) {
    .error-content {
        margin: 45% auto;
    }
}
