* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7e7d7d;
    background-color: #fff;
}

.navbar {
    background-color: #FFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.forge-navbar {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    font-size: 16px;
}

.nav-brand__logo {
    font-size: 25px;
    color: rgb(70, 70, 225, 0.7);
    font-weight: bold;
    font-style: oblique;
    text-decoration: none;
}

.nav-item {
    display: flex;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-left: 30px;
    text-transform: uppercase;
    position: relative;
}


.nav-link::before {
    content: "";
    position: absolute;
    bottom: -13px;
    right: 0;
    border-radius: 5px;
    height: 4px;
    width: 100%;
    transform: scaleX(0);
    background-color: rgba(70, 70, 225, 0.7);
    transform-origin: left;
    transition: transform .5s;
}

.nav-link:hover::before,
.nav-link--active::before {
    transform: scaleX(1);
}

.nav-link__first-right {
    text-decoration: none;
    color: rgba(70, 70, 225, 0.7);
    text-transform: uppercase;
}

.nav-link__first-right:hover {
    border-bottom: 1px solid rgba(70, 70, 225, 0.7);
}

.nav-link__second-right {
    text-decoration: none;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid rgba(70, 70, 225, 0.7);
    padding: 5px 6px;
    color: rgba(70, 70, 225, 0.7);
    text-transform: uppercase;
}

.nav-link__second-right:hover {
    background-color: rgba(70, 70, 225, 0.7);
    color: #FFFFFF;
    border: none;
}

.header {
    margin-top: 5%;
    padding: 3% 17%;
}

.heading {
    text-align: center;
}

.heading-primary {
    display: block;
    color: rgba(70, 70, 225, 0.7);
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.heading-secondary {
    display: block;
    font-size: 1.5rem;
    margin-top: 2%;
    animation-name: moveInRight;
    animation-duration: 3s;
}

.header-button {
    margin-top: 7%;
}

.header-button__link {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    color: #FFF;
    border-radius: 100px;
    text-transform: uppercase;
    background-color: rgba(70, 70, 225, 0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.link__animated {
    animation: moveInBottom .5s ease-out .50s;
    animation-fill-mode: backwards;
}

.link__animated:hover {
    transform: translateY(-5px);
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    70% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    70% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}