*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.reset-pass{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;   
}

.top{
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    color: #436F7E;
    margin-top: 56px;
    margin-bottom: 48px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #222222; 
    margin-bottom: 56px; 
}

#email {
    border-radius: 4px;
    border: 1px solid #D1D1D1;
    padding: 10px 12px;
    width: 813px;
    height: 56px;
}

label{
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #222222;
    margin-bottom: -92px;
}

#submit {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #6BA8BD;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 812px;
    height: 80px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.content input:hover{
    background-color: rgb(241, 246, 247);
}

/* Responsiveness*/

@media only screen and (max-width: 810px){
    h1{
        font-size: 34px;
        line-height: 36px;
        margin-top: 90px;
        margin-bottom: 100px;
    }
    p{
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 56px;
    }
    #submit{
        width: 540px;
        height: 56px;
    }
    #email{
        width: 540px;
        height: 56px;
    }
    .content{
        gap: 20px;
    }
    label{
        margin-bottom: -36px;
    }
    .content{padding: 0px 30px 140px 30px;}

}

@media only screen and (max-width: 428px){
    h1{
        font-size: 36px;
        line-height: 36px;
        margin-top: 60px;
        margin-bottom: 56px;
    }
    p{
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    #submit{
        width: 359px;
        height: 56px;
    }
    #email{
        width: 359px;
        height: 56px;
    }
    .content{
        gap: 15px;
    }
    label{
        margin-bottom: -38px;
    }
    .content{padding: 0px 30px 200px 30px;}

}

@media only screen and (max-width: 414px){
    h1{
        font-size: 32px;
        line-height: 36px;
        margin-top: 60px;
        margin-bottom: 56px;
    }
    p{
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    #submit{
        width: 359px;
        height: 56px;
    }
    #email{
        width: 359px;
        height: 56px;
    }
    .content{
        gap: 15px;
    }
    label{
        margin-bottom: -38px;
    }
    .content{padding: 0px 30px 200px 30px;}

}

@media only screen and (max-width: 414px){
    h1{
        font-size: 32px;
        line-height: 36px;
        margin-top: 60px;
        margin-bottom: 56px;
    }
    p{
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    #submit{
        width: 359px;
        height: 56px;
    }
    #email{
        width: 359px;
        height: 56px;
    }
    .content{
        gap: 15px;
    }
    label{
        margin-bottom: -38px;
    }
    .content{padding: 0px 30px 200px 30px;}

}

@media only screen and (max-width: 375px){
    h1{
        font-size: 22px;
        line-height: 36px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    p{
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    #submit{
        width: 312px;
        height: 56px;
    }
    #email{
        width: 310px;
        height: 56px;
    }
    .content{
        gap: 14px;
    }
    label{
        margin-bottom: -26px;
    }
    .content{padding: 0px 30px 70px 30px;}

}

@media only screen and (max-width: 354px){
    h1{
        font-size: 24px;
        line-height: 36px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    #submit{
        width: 312px;
        height: 56px;
    }
    #email{
        width: 310px;
        height: 56px;
    }
    .content{
        gap: 10px;
    }
    label{
        margin-bottom: -22px;
    }
    .content{padding: 0px 30px 100px 30px;}

}